[phases.setup]
nixPkgs = ["nodejs_20", "curl"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = [
  "npm run clean",
  "npx prisma generate",
  "npx tsc"
]

[start]
cmd = "node dist/server.js"


interval = "30s"
timeout = "5s"
retries = 3
start_period = "30s"
